%% -*- mode: erlang -*-
%% ----------------------------------------------------------------------------
%% RabbitMQ Configuration File.
%%
%% See http://www.rabbitmq.com/configure.html for details.
%% ----------------------------------------------------------------------------
[

  %% ----------------------------------------------------------------------------
  %% RabbitMQ Management Plugin
  %%
  %% See http://www.rabbitmq.com/management.html for details
  %% ----------------------------------------------------------------------------
  {rabbitmq_management, [
    %% Log all requests to the management HTTP API to a file.
    %%
    %% {http_log_dir, "/path/to/access.log"},

    %% Change the port on which the HTTP listener listens,
    %% specifying an interface for the web server to bind to.
    %% Also set the listener to use SSL and provide SSL options.
    %%
    {listener, [
      {port, 15672},
      %%{ip, "127.0.0.1"},
      {ssl, true},
      {ssl_opts, [
        {cacertfile, "/etc/letsencrypt/live/change_to_your_servers_public_hostname/cert.pem"},
        {certfile,   "/etc/letsencrypt/live/change_to_your_servers_public_hostname/cert.pem"},
        {keyfile,    "/etc/letsencrypt/live/change_to_your_servers_public_hostname/privkey.pem"}
      ]}
    ]}
  ]},

  %% ----------------------------------------------------------------------------
  %% RabbitMQ MQTT Adapter
  %%
  %% See https://github.com/rabbitmq/rabbitmq-mqtt/blob/stable/README.md
  %% for details
  %% ----------------------------------------------------------------------------
  {rabbitmq_mqtt, [
    %% Set the default user name and password. Will be used as the default login
    %% if a connecting client provides no other login details.
    %%
    %% Please note that setting this will allow clients to connect without
    %% authenticating!
    %%
    {default_user, <<"sa-comfortbox">>},
    {default_pass, <<"change_to_your_password">>},

    %% Enable anonymous access. If this is set to false, clients MUST provide
    %% login information in order to connect. See the default_user/default_pass
    %% configuration elements for managing logins without authentication.
    %%
    {allow_anonymous, true},

    %% If you have multiple chosts, specify the one to which the
    %% adapter connects.
    %%
    %% {vhost, <<"/">>},

    %% Specify the exchange to which messages from MQTT clients are published.
    %%
    {exchange, <<"amq.topic">>}

    %% Specify TTL (time to live) to control the lifetime of non-clean sessions.
    %%
    %% {subscription_ttl, 1800000},

    %% Set the prefetch count (governing the maximum number of unacknowledged
    %% messages that will be delivered).
    %%
    %% {prefetch, 10},

    %% TCP/SSL Configuration (as per the broker configuration).
    %%
    %% {tcp_listeners, [1883]},
    %% {ssl_listeners, []},

    %% Number of Erlang processes that will accept connections for the TCP
    %% and SSL listeners.
    %%
    %% {num_tcp_acceptors, 10},
    %% {num_ssl_acceptors, 1},

    %% TCP/Socket options (as per the broker configuration).
    %%
    %% {tcp_listen_options, [{backlog,   128},
    %%                       {nodelay,   true}]}
  ]}

].
