[Unit]
Description=ComfortBox API Services
Documentation=https://github.com/dwettstein/comfortbox-api-services
After=network.target

[Service]
Type=simple
# Get path of Node.js with `which node` if not /usr/bin/node
ExecStart=/usr/bin/node /opt/comfortbox-api-services/server/server.js
WorkingDirectory=/opt/comfortbox-api-services/server
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
Environment=NODE_PORT=3000
Restart=always

[Install]
WantedBy=multi-user.target
